.transition-fade {
    opacity: 1;
    transition: 500ms;
}

html.is-animating .transition-fade {
    opacity: 0;
}

main {
    background-color: black;
}

p:hover, .tec > div > img:hover  {
    text-shadow: 2px 2px 4px rgba(92, 92, 92, 0.712);
}

.tec {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid rgb(2, 2, 2);
}

.tec > img {
    width: 18%;
    aspect-ratio: 1/1;
    transition: transform 0.5s;
}